<h3><img src="http://boxing-gym.ru/img/_cutted-img/card-1.png">
        <img src="http://r-fit.pro/uploads/posts/2017-12/1512468372_cgygzjiklqq.jpg"></h3>
<h2>Детский</h2>
        
            <table class="centre">
                    <tbody>
                        <tr>
                            <th>Первое занятие</th>  <th>Месечный абонемен</th> <th>Трех месячный</th> <th>Полугодовой</th> <th>Годовой</th>
                        </tr>
                        <tr>
                            <td>Бесплатно</td>  <td>7000 р</td> <td>17000 р</td> <td>25000 р</td> <td>40000 р</td> 
                        </tr>
                    </tbody>
            </table>
            
            <h2>Взрослый</h2>
            <table>
                    <tbody>
                        <tr>
                            <th>Первое занятие</th>  <th>Месечный абонемен</th> <th>Трех месячный</th> <th>Полугодовой</th> <th>Годовой</th>
                        </tr>
                        <tr>
                            <td>Бесплатно</td>  <td>10000 р</td> <td>23000 р</td> <td>30000 р</td> <td>50000 р</td> 
                        </tr>
                    </tbody>
            </table>
            
            <h2>Vip</h2>
            <table>
                    <tbody>
                        <tr>
                            <th>Первое занятие</th>  <th>Месечный абонемен</th> <th>Трех месячный</th> <th>Полугодовой</th> <th>Годовой</th>
                        </tr>
                        <tr>
                            <td>Бесплатно</td>  <td>12000 р</td> <td>26000 р</td> <td>33000 р</td> <td>59000 р</td> 
                        </tr>
                    </tbody>
            </table>